.container {
  background-color: #fff;
  width: 100vw;
  margin: auto;
  margin-top: 3vh;
}

.useble {
  width: 64vw;
  margin: 10px auto 0;
  padding: 2vh 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1 solic #e65100;
  border-radius: 6px;
  box-shadow: -5px 0px 5px 0px #aaaaaa, 5px 0px 5px 0px #aaaaaa;
  color: #424242;
  background-color: #ffa726;
}
.useble h4 {
  margin: 0;
  padding: 0 0 2vh;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 1.275em;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.lineselect {
  min-width: 17vw;
  padding: 4px 3px;
  font-size: smaller;
}

@media (max-width: 600px) {
  .container {
  }

  .useble {
    width: 84vw;
    margin: 10px auto 0;
    border-radius: 3px;
  }

  .line {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1vh;
  }
  .lineselect {
    padding: 6px 3px;
  }
}
