.logo {
  width: 13vh;
  margin-top: 4vh;
}
.logorow {
  width: 14vh;
  margin-top: 4vh;
}
.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h2 {
  font-family: verdana;
  font-size: 1rem;
  text-align: center;
}
.row {
  width: 50vw;
  padding: 4vh 10vw 4vh 10vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid var(--accent-3);
}
.image {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image img {
  margin: auto;
}
.text {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
.column {
  width: 70vw;
  padding: 4vh 10vw 4vh 10vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--accent-3);
}
.line {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 900px) {
  .logo {
  }
  .logorow {
  }
  .container {
  }
  .row {
    width: 60vw;
  }
  .image {
  }
  .image img {
  }
  .text {
  }
}

@media (max-width: 600px) {
  .logo {
    width: 18vh;
    margin-top: 2vh;
  }
  .logorow {
    width: 14vh;
    margin-top: 3vh;
  }
  .container {
  }
  .row {
    width: 80vw;
  }
  .image {
    width: 18vw;
    margin-right: 3vw;
  }
  .image img {
    margin: auto;
  }
  .text {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
  }
}
