.container {
  background-color: #fff;
  width: 100vw;
  margin: 5vh auto 0;
}

.title {
  width: 70vw;
  margin: auto;
  margin-bottom: 4vh;
}
.title h2 {
  margin: 0 0 5vh;
  padding: 4vh;
  text-align: center;
  background-color: #b6e6fa;
  border-radius: 3px;
  font-family: "Lucida Handwriting", Times, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.975em;
  color: #01579b;
}

.useble {
  width: 70vw;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.line {
  width: 70vw;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  gap: 8vh;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.lineitem {
  width: auto;
  height: auto;
  line-height: auto;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

@media (max-width: 600px) {
  .container {
    width: 100vw;
    border: none;
  }

  .useble {
    width: 100vw;
  }

  .title {
    width: 100vw;
  }
  .title h2 {
    border-radius: 0x;
  }

  .line {
    gap: 14vh;
  }

  .lineitem {
    width: auto;
    height: auto;
    line-height: auto;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }
}
