.container {
  display: block;
  max-width: 600px;
  padding: 1vh 0 1vh;
  text-align: center;
  color: var(--red1);
}
.container h1 {
  line-height: 1.5rem;
  font-weight: 700;
  font-size: 22px;
  margin: 0;
  padding: 10px 0 0;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.container h2 {
  line-height: 1rem;
  font-weight: 600;
  font-size: 22px;

  margin: 0;
  padding: 8px 0 0;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

@media (max-width: 600px) {
  .container {
    padding: 3vh 1.6rem 0;
  }
  .container h1 {
    line-height: 1rem;
    font-size: calc(1.3vw + 1.3vh + 1.3vmin);

    margin: 0;
    padding: 4px 0 0;
  }
  .container h2 {
    line-height: 0.9rem;
    font-size: calc(1vw + 1vh + 1vmin);

    margin: 0;
    padding: 2px 0 0;
  }
}
