.container {
  width: 100vw;
  height: auto;
  min-height: 100vh;
}

.scrolldown {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 95;
  width: auto;
  left: calc(46vw);
  top: 86vh;
}

.image {
  width: 8vw;
}

@media (max-width: 600px) {
  .container {
  }

  .image {
    width: 20vw;
  }

  .scrolldown {
    top: 84vh;
    left: calc(40vw);
  }
}
