.header {
  background-color: #fff;
  width: 100vw;
  height: 10vh;
  padding: 5px 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header img {
  height: 6vh;
  margin: 0 20px 0 30px;
}
.header h1 {
  font-family: "Lucida Handwriting", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.875em;
  color: #01579b;
}

.image {
}

.title {
  padding: 10px;
  position: absolute;
  top: 16%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: var(--hover-2);
  border: 1 solic var(--text-primary);
  border-radius: 6px;
}

.message {
  padding: 2vh 5vw;
  position: absolute;
  top: 82%;
  left: 74%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: var(--hover-2);
  border: 1 solic var(--text-primary);
  border-radius: 6px;
}

.layer {
  position: relative;
  width: 100vw;
}

.layerdark {
  margin: 5vh 0;
  position: relative;
  width: 100vw;
  color: #01579b;
  background-color: #b6e6fa;
  border: 1 solic #01579b;
}

.layercols {
  padding: 2vh 2vw 0;
  width: 100vw;
  background-color: #fff;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.map {
  position: relative;
  width: 100vw;
  border: 1px solid #ccc;
}

.cards {
  padding: 0 10vw;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48%;
}

.footer {
  padding-top: 25px;
  width: 100%;
  height: 3vh;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer a {
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  padding: 0 6px 10px;
}
.footer a:hover {
  color: var(--red1);
}
.footer p {
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  padding: 10px 6px 20px;
}

@media (max-width: 900px) {
}

@media (max-width: 600px) {
  .header {
    height: 6vh;
    border: 1px solid ##2f4f4f;
    box-shadow: 0 4px ##2f4f4f;
  }
  .header img {
    height: 4vh;
    margin: 0 10px 0 16px;
  }
  .header h1 {
    font-size: 1.075em;
    color: #01579b;
  }

  .image {
  }

  .title {
    top: 32%;
    left: 14%;
    width: 20%;
  }

  .message {
    top: 76%;
    left: 72%;
    width: 50%;
    height: 40%;
  }

  .footer a {
    font-size: 0.7rem;
  }
  .footer a {
    font-size: 0.7rem;
  }
  .footer p {
    font-size: 0.7rem;
    padding: 20px 6px 20px;
  }
}
