.container {
  margin: auto;
  width: 32vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border: 1px solid #808080;
  border-radius: 6px;
}
.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.container p {
  font-family: Arial, sans-serif;
  font-size: 0.7rem;
  font-weight: normal;
  letter-spacing: 2px;
}
.container p b {
  font-weight: bold;
}

.image {
  width: 30vw;
  margin-top: 1vh;
}

@media (max-width: 600px) {
  .container {
    width: 70vw;
  }

  .image {
    width: 70vw;
    margin-top: 0;
  }
}
