.container {
  margin: auto;
  width: 32vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border: 1px solid #e65100;
  border-radius: 6px;
}
.container:hover {
  box-shadow: -5px 0px 5px 0px #aaaaaa, 5px 0px 5px 0px #aaaaaa;
}

.title {
  width: 100%;
  background-color: tomato;
}
.title h2 {
  margin: 2vh 4vh;
  font-family: Arial, sans-serif;
  font-size: 0.7rem;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.title p {
  margin: 2vh 4vh;
  font-family: Arial, sans-serif;
  font-size: 0.7rem;
  font-weight: normal;
  letter-spacing: 2px;
}

.image {
  width: 30vw;
}

@media (max-width: 600px) {
  .container {
    width: 100vw;
    border: none;
  }

  .image {
    width: 100vw;
  }
}
